<div class="footer-wagon">

  <%= link_to "Home", "index.html", class:"footer-wagon-item footer-wagon-link" %>

  <div class="footer-links">
    <a href="#"><i class="fa fa-github"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
  </div>

  <%= link_to "About", "about.html", class:"footer-wagon-item footer-wagon-link" %>
</div>
