.go {
  text-decoration: none !important;
  color: $l-blue !important;
  border: 1px $l-blue;
  background-color: $white;
  border-radius: 3px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  &:hover {
    color: $blue !important;
    background-color: $gray;
  }
}

.book {
  text-decoration: none;
  color: $l-blue !important;
  border: 5px $l-blue;
  background-color: $white;
  border-radius: 3px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  &:hover {
    color: $blue !important;
    text-decoration: none;
    background-color: $gray;
  }
}
