#home {
  background-color: #195579;
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  p {
    margin-top: 1.5em;
  }
  a {
    color: rgba(0,0,0,0.4);
    font-weight: bold;
    font-size: 16px;
  }
}

.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin: 5px;
}

.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.main-padding {
  padding: 20px;
}

.center {
  text-align: center;
}

.container-popular {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 60px;
  color: #195579

}

.container-standard {
  background-color: #195579;
  color: white;
  padding-top: 20px;
}
