<div id='home'>
  <div>
    <div><p>Pack your bags!! It's time to go to Berlin!</p></div>
    <div>
      <%= image_tag 'https://kitt.lewagon.com/placeholder/cities/berlin', width: "800" %>
      <h4>Berlin</h4>
      <%= link_to "Book your trip!", "go.html", class: "button" %>
    </div>
    <div>

    </div>
  </div>
</div>
